.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 234, 234);
   

}
    
    .login-wrapper{
    width: 500px;
    padding: 20px;
    background-color: white;
    }
    
    .login-wrapper h1{
    font-size: 24px;
    font-weight: 400;
    color:rgb(85, 85, 163);
    }
    
    .login-wrapper form{
    display: flex;
    flex-direction: column;
    
    
    }
    
    .login-wrapper form input{
    flex: 1;
    width: 98%;
    margin: 10px 0px;
    padding: 10px;
    }
    
    .login-wrapper form a{
    font-size: 12px;
    margin: 5px 0px ;
    color: black;
    text-decoration: underline;
    }
    

    .login-container button{
        width: 40%;
        border: none;
        padding: 15px 20px;
        background-color: teal;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .login-container button:disabled{
        cursor: not-allowed;
        background-color: rgb(98, 145, 145);
    }


    /********************* MEDIA QUERIES *************************/

    @media (max-width:480px) {
        .login-wrapper{
            width: 80%;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 840px){
        .login-wrapper{
            width: 70%;
        }
    }